version: '3.8'

services:
  ${app_name}:
    image: ${ecr_registry}/${ecr_registry}:${image}  # Corrected to use ecr_registry
    container_name: ${app_name}
    restart: always
    ports:
      - "8080:80"
    environment:
      - ENV=production
      - DB_HOST=db
      - DB_USER=user
      - DB_PASS=password
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
