[Unit]
Description=GitHub Actions Runner
After=network.target

[Service]
ExecStart={{ runner_dir }}/run.sh
WorkingDirectory={{ runner_dir }}
User={{ runner_user }}
Group={{ runner_user }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target